csharp/.vs/
csharp/src/OpenLocationCode/obj/
csharp/src/OpenLocationCode/bin/
csharp/test/OpenLocationCode.Tests/obj/
csharp/test/OpenLocationCode.Tests/bin/
csharp/src/OpenLocationCode/project.lock.json
csharp/src/OpenLocationCode/.vs/
csharp/src/.vs/
csharp/test/OpenLocationCode.Tests/project.lock.json
