# Travis CI configuration.
# Each implementation is listed using the matrix:include configuration.

# Use sudo: required slows boot time but gives us 7.5GB of ram to prevent Bazel running OOM.
sudo: required
dist: trusty

matrix:
  include:
    # C implementation. Lives in c/, tested with bazel.
    - language: c
      env: OLC_PATH=c
      script:
        - wget -O install.sh "https://github.com/bazelbuild/bazel/releases/download/0.24.1/bazel-0.24.1-installer-linux-x86_64.sh"
        - chmod +x install.sh
        - ./install.sh --user && rm -f install.sh
        - ~/bin/bazel test --test_output=all ${OLC_PATH}:all
        - pwd
        - cd ${OLC_PATH} && bash clang_check.sh
        - echo "Just checking!" | bash ${TRAVIS_BUILD_DIR}/travis-utils/comment_pr.sh
        - echo -e "\e[31mThis time with colour\e[30m" | bash ${TRAVIS_BUILD_DIR}/travis-utils/comment_pr.sh

    # C++ implementation. Lives in cpp/, tested with bazel.
    - language: cpp
      env: OLC_PATH=cpp
      script:
        - wget -O install.sh "https://github.com/bazelbuild/bazel/releases/download/0.24.1/bazel-0.24.1-installer-linux-x86_64.sh"
        - chmod +x install.sh
        - ./install.sh --user && rm -f install.sh
        - ~/bin/bazel test --test_output=all ${OLC_PATH}:all

    # Dart implementation. Lives in dart/
    - language: dart
      dart: stable
      env: OLC_PATH=dart
      script:
        - cd ${OLC_PATH}
        - pub get && pub run test
        - dartanalyzer lib/open_location_code.dart
        - bash format_check.sh

    # Go implementation. Lives in go/. Tests fail if files have not been formatted with gofmt.
    - language: go
      go: stable
      env: OLC_PATH=go
      script:
        - diff -u <(echo -n) <(gofmt -d -s ./go)
        - go test -bench=. ./go -v
        - go test ./tile_server/gridserver -v

    # Java implementation. Lives in java/, tested with bazel.
    - language: java
      jdk: oraclejdk8
      env: OLC_PATH=java
      script:
        - wget -O install.sh "https://github.com/bazelbuild/bazel/releases/download/0.24.1/bazel-0.24.1-installer-linux-x86_64.sh"
        - chmod +x install.sh
        - ./install.sh --user && rm -f install.sh
        - ~/bin/bazel test --test_output=all ${OLC_PATH}:all

    # Javascript Closure library implementation. Lives in js/closure, tested with bazel.
    # We use language "c" because bazel will install all the dependencies we need, and we use path "js" for the node_js tests.
    # The Bazel configuration is cached. This saves about 3-4 minutes in the tests.
    - language: c
      env: OLC_PATH=js/closure
      before_cache:
        # Bazel will fail to install if the installation is in the cache.
        - rm -fr ${HOME}/.cache/bazel/_bazel_${USER}/install
      cache:
        # Set the timeout to fetch and unpack the cache.
        timeout: 300
        directories:
          - ${HOME}/.cache/bazel
      script:
        - rm -fr ${HOME}/.cache/bazel/_bazel_${USER}/install
        - wget -O install.sh "https://github.com/bazelbuild/bazel/releases/download/0.24.1/bazel-0.24.1-installer-linux-x86_64.sh"
        - chmod +x install.sh
        - ./install.sh --user && rm -f install.sh
        - ~/bin/bazel test ${OLC_PATH}:all
        - cd js && npm install && ./node_modules/.bin/eslint closure/*js

    # Javascript implementation. Lives in js/.
    - language: node_js
      node_js: "node"
      env: OLC_PATH=js
      script:
        - cd js
        - sh test/run_tests.sh

    # Python implementation. Lives in python/, tested with bazel.
    - language: python
      python: 2.7
      env: OLC_PATH=python
      script:
        - wget -O install.sh "https://github.com/bazelbuild/bazel/releases/download/0.24.1/bazel-0.24.1-installer-linux-x86_64.sh"
        - chmod +x install.sh
        - ./install.sh --user && rm -f install.sh
        - ~/bin/bazel test --test_output=all ${OLC_PATH}:all

    # Python implementation. Lives in python/, tested with bazel.
    - language: python
      python: 3.4
      env: OLC_PATH=python
      script:
        - wget -O install.sh "https://github.com/bazelbuild/bazel/releases/download/0.24.1/bazel-0.24.1-installer-linux-x86_64.sh"
        - chmod +x install.sh
        - ./install.sh --user && rm -f install.sh
        - ~/bin/bazel test --test_output=all ${OLC_PATH}:all

    # Ruby implementation. Lives in ruby/
    - language: ruby
      rvm: 2.6.3
      env: OLC_PATH=ruby
      script:
        - gem install rubocop
        - gem install test-unit
        - cd ruby && ruby test/plus_codes_test.rb
        - rubocop --config rubocop.yml

    # Rust implementation. Lives in rust/
    - language: rust
      env: OLC_PATH=rust
      # Adding caching of .cargo doesn't improve the build/test times.
      script:
        - cd rust/
        - cargo build --verbose --all
        - cargo test --verbose --all
